## 1. Importando pacotes e dados para manipulação.

In [2]:
import pandas as pd
import numpy as np
from statsmodels import *
import plotly.express as px
from google.colab import drive
drive.mount('/content/drive')
import math

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
path_url = "/content/drive/MyDrive/Cursos/Semantix/Projeto_Final/MICRODADOS_ENEM_2021.csv"
base = pd.read_csv(path_url, encoding="ISO-8859-1", sep=";")
base.shape

(3389832, 76)

In [4]:
base.columns

Index(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA',
       'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT',
       'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC',
       'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN', 'TX_GABARITO_CH',
       'TX_GABARITO_LC', 'TX_GABARITO_MT', 'TP_STATUS_REDACAO',
       'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
       'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004',
       'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013',
       'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025'],
      dtype='object')

Com base no dicionário dos dados, nem todas as variáveis fazem sentido para esse projeto, logo, para diminuir o tempo de processamento das análises e uso de espaço de armazenamento, será feito um *slicing* dos dados.
As variáveis selecionadas foram:

1.   NU_INSCRICAO
2.   TP_FAIXA_ETARIA
3.   TP_SEXO
4.   TP_ESTADO_CIVIL
5.   TP_COR_RACA
6.   TP_NACIONALIDADE
7.   TP_ESCOLA
8.   TP_ENSINO
9.   IN_TREINEIRO
10.  SG_UF_ESC
11.  TP_DEPENDENCIA_ADM_ESC
12.  TP_LOCALIZACAO_ESC
13.  TP_PRESENCA_CN
14.  TP_PRESENCA_CH
15.  TP_PRESENCA_LC
16.  TP_PRESENCA_MT
17.  NU_NOTA_CN
18.  NU_NOTA_CH
19.  NU_NOTA_LC
20.  NU_NOTA_MT
21.  TP_STATUS_REDACAO
22.  NU_NOTA_REDACAO
23.  Q001
24.  Q002
25.  Q003
26.  Q004
27.  Q005
28.  Q006
29.  Q024
30.  Q025

In [5]:
lista_var = ['NU_INSCRICAO','TP_FAIXA_ETARIA', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 
             'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC',
             'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'NU_NOTA_CN', 
             'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003',
             'Q004', 'Q005', 'Q006', 'Q024', 'Q025']
base = base[lista_var]

In [6]:
var_num = base.select_dtypes('number').columns
var_cat = base.select_dtypes('object').columns
print(var_num)
print(var_cat)

Index(['NU_INSCRICAO', 'TP_FAIXA_ETARIA', 'TP_ESTADO_CIVIL', 'TP_COR_RACA',
       'TP_NACIONALIDADE', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_PRESENCA_CN',
       'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'NU_NOTA_CN',
       'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'TP_STATUS_REDACAO',
       'NU_NOTA_REDACAO', 'Q005'],
      dtype='object')
Index(['TP_SEXO', 'SG_UF_ESC', 'SG_UF_PROVA', 'Q001', 'Q002', 'Q003', 'Q004',
       'Q006', 'Q024', 'Q025'],
      dtype='object')

> #### Ainda é necesssário adicoinar duas variáveis para fins deste projeto. A variável *NU_MEDIA* será a média aritmética das notas dos partipantes. Além desta, também será adiconada a variável *REGIAO*, que agrupará os participantes por marcroregiões do país.

In [ ]:
#from pandas.core.window.expanding import Axis
# Criação da variavel de média geral
base['NU_MEDIA'] = base[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO']].sum(axis = 1) / 5

# Criação da variavel de região
Norte = ['AM', 'PA', 'RR', 'AC','RO','AP', 'TO']
Sul = ['PR', 'SC', 'RS']
CentroOeste = ['MT', 'MS', 'GO', 'DF']
Nordeste = ['BA', 'CE','MA', 'PB', 'PE', 'RN', 'SE', 'AL', 'PI']
Sudeste = ['SP', 'RJ', 'MG','ES']

base['REGIAO'] = base['SG_UF_ESC'].apply(lambda x: 'Sul' if x in Sul else 'Norte' if x in Norte else 
                                         'Nordeste' if x in Nordeste else 'Sudeste' if x in Sudeste else 'Centro-Oeste')



> Considerando que as primeiras limpezas foram realizadas na bse original, faz-se necessário o armazenamento da da base pré-processada. Esse procedimetno permitirá uma redução no consumo de memória e tempo de load caso haja necessidade de parar o projeto e retornar postiormente.

In [ ]:
base.to_csv("base.csv", sep = ";")

## 2. Exploração da base de dados

In [7]:
base.nunique()

NU_INSCRICAO              3389832
TP_FAIXA_ETARIA                20
TP_SEXO                         2
TP_ESTADO_CIVIL                 5
TP_COR_RACA                     7
TP_NACIONALIDADE                5
TP_ESCOLA                       3
TP_ENSINO                       2
IN_TREINEIRO                    2
SG_UF_ESC                      27
TP_DEPENDENCIA_ADM_ESC          4
TP_LOCALIZACAO_ESC              2
SG_UF_PROVA                    27
TP_PRESENCA_CN                  3
TP_PRESENCA_CH                  3
TP_PRESENCA_LC                  3
TP_PRESENCA_MT                  3
NU_NOTA_CN                   5030
NU_NOTA_CH                   4874
NU_NOTA_LC                   4728
NU_NOTA_MT                   6149
TP_STATUS_REDACAO               8
NU_NOTA_REDACAO                50
Q001                            8
Q002                            8
Q003                            6
Q004                            6
Q005                           20
Q006                           17
Q024                            5
Q025                            2
dtype: int64



> Verficiando o número de valores ausentes.

In [8]:
base.isnull().sum()

NU_INSCRICAO                    0
TP_FAIXA_ETARIA                 0
TP_SEXO                         0
TP_ESTADO_CIVIL                 0
TP_COR_RACA                     0
TP_NACIONALIDADE                0
TP_ESCOLA                       0
TP_ENSINO                 2293004
IN_TREINEIRO                    0
SG_UF_ESC                 2576026
TP_DEPENDENCIA_ADM_ESC    2576026
TP_LOCALIZACAO_ESC        2576026
SG_UF_PROVA                     0
TP_PRESENCA_CN                  0
TP_PRESENCA_CH                  0
TP_PRESENCA_LC                  0
TP_PRESENCA_MT                  0
NU_NOTA_CN                1143988
NU_NOTA_CH                1011453
NU_NOTA_LC                1011453
NU_NOTA_MT                1143988
TP_STATUS_REDACAO         1011453
NU_NOTA_REDACAO           1011453
Q001                            2
Q002                            2
Q003                            2
Q004                            2
Q005                            2
Q006                            2
Q024                            2
Q025                            2
dtype: int64

In [31]:
1143988/3389832

0.33747631151042295

> ### 2.1 Tratando valores Nulos

> * <p align = 'justify'>Visto que a quantidade de dados faltantes nas variáveis sócioeconômicas(Q001 à Q0025) é baixa (2 observações), optou-se por excluí-las.</p>

> * <p align = 'justify'>Porém há um ponto de atenção nessa base quanto aos <i>missing values</i>. As variáveis de nota dos alunos, mas principalmente as variáveis de tipo de escola(pública ou privada), Estado da escola, dependência administrativa(federal, estadual, municipal ou privada) e localização(urbana ou rural) tem valores faltantes que representam até 76% da base total.</p>

> * <p align = 'justify'>A variável <i>SG_UF_ESC</i> diz respeito ao Estado a qual Estado o participante estudou durante o ensino médio. Saber essa informação nos ajuda a entender, por exemplo, se o desempenho dos alunos daquele estado foi melhor ou pior se comparado com os demais. Dessa forma, considerando seu uso para fins de perfilização, os dados nulos na variável de localização serão substituidos pelo dados que compõem a variável de local de realização da prova, partindo do pressuposto que este seja o mesmo para <b>maioria</b> dos candidatos.</p>

> * <p align = 'justify'>Quanto as variáveis de dependência administrativa, TP_ENSINO e localização, serão mantidas por enquanto a fim de explorarmos o perfil dos que não preencheram tais informações. </p>

> * <p align = 'justify'>Sobre as variáveis de média em cada eixo da prova, constatou-se que ao menos <b>29% dos participantes (1.003.716)</b> faltaram ou foram eliminados de pelo menos uma prova. Destes, <b>759.327, ou 75% dos 1.003.716, apresentam renda de até 2 salários mínimos (R$ 2.200,00)</b>. Embora esse fato não ateste uma relação direta, abre margem para os motivos do não comparecimento ou eliminação do participante, como acesso ao loval de prova, por exemplo. </p>

> * <p align = 'justify'> <s>Sobre, as variáveis de média dos participantes optou-se por uma estratégia mais simples, substituindo os valores nulos pela média geral, considerando que assim não haverá grandes discrepância na disribuição dos dados de média.</s></p>

In [12]:
(341648 + 202665 + 135689 + 79325)/1003716

0.7565157873342658

In [20]:
x = base[(base['TP_PRESENCA_CH'] != 1) & (base['TP_PRESENCA_CN'] != 1) & 
         (base['TP_PRESENCA_LC'] != 1) & (base['TP_PRESENCA_MT'] != 1)]

x[['Q002', 'Q001']].value_counts()

Q002  Q001
E     E       123323
B     B       121812
C     C        50212
E     B        45138
C     B        39753
               ...
G     A          476
H     F          414
      G          217
A     F          216
      G           84
Length: 64, dtype: int64

In [ ]:
# Preenchimento de NA's na variável de Estado em que cursou o ensino médio, por valores do local de prova
base['SG_UF_ESC'] = base['SG_UF_ESC'].fillna(base['SG_UF_PROVA'] ,axis = 0)

# Preenchimento de NA's das variáveis de nota, por valores médios
base['NU_NOTA_CN'] = base['NU_NOTA_CN'].fillna(base['NU_NOTA_CN'].mean() ,axis = 0)
base['NU_NOTA_CH'] = base['NU_NOTA_CH'].fillna(base['NU_NOTA_CH'].mean() ,axis = 0)
base['NU_NOTA_LC'] = base['NU_NOTA_LC'].fillna(base['NU_NOTA_LC'].mean() ,axis = 0)
base['NU_NOTA_MT'] = base['NU_NOTA_MT'].fillna(base['NU_NOTA_MT'].mean() ,axis = 0)
base['NU_NOTA_REDACAO'] = base['NU_NOTA_REDACAO'].fillna(base['NU_NOTA_REDACAO'].mean() ,axis = 0)

In [ ]:
base[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO']].describe().round(2).T

                     count    mean     std  min    25%     50%    75%     max
NU_NOTA_CN       3389832.0  491.79   65.58  0.0  457.0  491.79  510.2   867.1
NU_NOTA_CH       3389832.0  519.94   80.24  0.0  478.2  519.94  560.7   846.9
NU_NOTA_LC       3389832.0  502.56   66.31  0.0  474.6  502.56  535.6   826.1
NU_NOTA_MT       3389832.0  535.08   90.05  0.0  478.0  535.08  560.2   953.1
NU_NOTA_REDACAO  3389832.0  613.50  159.75  0.0  560.0  613.50  660.0  1000.0

In [ ]:
#base = base.dropna(subset = ['Q001'])
base.isnull().sum()

NU_INSCRICAO                    0
TP_FAIXA_ETARIA                 0
TP_SEXO                         0
TP_ESTADO_CIVIL                 0
TP_COR_RACA                     0
TP_NACIONALIDADE                0
TP_ESCOLA                       0
TP_ENSINO                 2293004
IN_TREINEIRO                    0
SG_UF_ESC                       0
TP_DEPENDENCIA_ADM_ESC    2576026
TP_LOCALIZACAO_ESC        2576026
SG_UF_PROVA                     0
TP_PRESENCA_CN                  0
TP_PRESENCA_CH                  0
TP_PRESENCA_LC                  0
TP_PRESENCA_MT                  0
NU_NOTA_CN                      0
NU_NOTA_CH                      0
NU_NOTA_LC                      0
NU_NOTA_MT                      0
TP_STATUS_REDACAO         1011453
NU_NOTA_REDACAO                 0
Q001                            2
Q002                            2
Q003                            2
Q004                            2
Q005                            2
Q006                            2
Q024                            2
Q025                            2
dtype: int64

In [ ]:
base['TP_PRESENCA_CH'].value_counts()
#base['TP_STATUS_REDACAO'].value_counts()

1    2378379
0    1007397
2       4056
Name: TP_PRESENCA_CH, dtype: int64

In [ ]:
#x = base['TP_STATUS_REDACAO'].isnull()
base[base['TP_STATUS_REDACAO'] != np.NaN]

,NU_INSCRICAO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,SG_UF_ESC,...,TP_STATUS_REDACAO,NU_NOTA_REDACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q024,Q025
0,210053865474,5,F,1,1,1,1,NaN,0,NaN,...,1.0,760.0,F,F,B,B,3.0,D,B,B
1,210052384164,12,M,1,1,1,1,NaN,0,NaN,...,1.0,560.0,B,B,B,B,3.0,B,A,A
2,210052589243,13,F,3,1,1,1,NaN,0,NaN,...,NaN,NaN,B,C,C,B,3.0,C,B,B
3,210052128335,3,M,1,3,1,2,1.0,0,CE,...,1.0,780.0,B,B,B,B,6.0,B,B,B
4,210051353021,2,F,1,3,1,2,1.0,0,CE,...,1.0,780.0,D,E,F,D,4.0,C,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3389827,210053249138,7,F,1,3,1,1,NaN,0,NaN,...,NaN,NaN,B,B,B,B,5.0,C,A,B
3389828,210053776013,7,F,1,1,1,1,NaN,0,NaN,...,NaN,NaN,E,E,A,F,4.0,G,B,B
3389829,210052441508,13,F,1,3,1,1,NaN,0,NaN,...,NaN,NaN,B,C,C,B,1.0,F,B,B
3389830,210051139675,7,F,1,1,1,1,NaN,0,NaN,...,1.0,660.0,E,D,C,B,4.0,E,C,B
3389831,210052410399,12,F,2,3,1,1,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
base.dropna(subset = ['TP_ENSINO', 'TP_DEPENDENCIA_ADM_ESC']).shape

(780271, 31)

> ### 2.2 Aplicando filtro de seleção de dados

> * <p align = 'justify'>Além da limpeza de valores faltantes se fa necessário escolher quais serão os dados que serão usado no projeto. De antemão é possível levantar alguns desse filtro, por exmeplo, se faza sentido manter ou não áqueles que não compareceram a prova, já que os mesmos não possuem nota em plo um dia de prova.</p>

In [22]:
x = base.loc[base['TP_PRESENCA_CH'] == 0]
x = x.loc[x['TP_PRESENCA_CN'] == 0]
x = x.loc[x['TP_PRESENCA_LC'] == 0]
x = x.loc[x['TP_PRESENCA_MT'] == 0]

x['Q006'].value_counts().sum()
#base.groupby(['TP_PRESENCA_CH']).

1000149

In [ ]:
1011453

11304